<div class="clearfix"></div>

<!--Container begins--> 

    <div class="right_col"> 
      <div class="container">            
        <div class="row">
         <div class="col-md-12 col-12"> 
       
            <div class="breadcrumb-container">
                <div>
                    <ol class="breadcrumb pl-0">
                        <li>
                            <a href="#">
                                Dashboard
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                DLV
                            </a>
                        </li>
                        <li class="active">DLV Income form</li>
                    </ol>
                </div>
            </div>
          </div>
        </div><!--End of row-->    
       
    <div class="container form-container">
     
      <div class="row mt-2">    
        <div class="table-bordered mx-widd">        
        <div class="col-md-2 col-md-2">         
            <span class="placeholder bg-transparent mt-3 mx-2">Date : 21-02-2022</span>
        </div>
        <div class="col-md-8  mt-2 mb-1 form-heading" style="text-align:center; margin-top:5px">
            <span>DLV Form</span>
        </div>
        <div class="col-md-2 col-12">
        </div>
      </div>
    </div>
        <div class="pb-4 pt-4">
          <form action="" id="" method="post">
            <div class="heading d-none" id="headingErr">
                <h1 id="" class="info-header">Following fields are mandatory. Please fill in information for</h1>
                <div id="add_to_me" class="header-list" style="color:red;"></div>
            </div>

   <div class="w-100 m-auto">     
<div class="accordion" id="accordionExample">    
    <form [formGroup]="myGenerateDLV" (ngSubmit)="onGenerateDLV()">
      
      
      <!-- Header Details input field -->
      <div class="accordion-item">   
        <h5 class="accordion-header" id="headingOne">
             <button class="accordion-button collapsed" 
                     type="button" 
                     data-bs-toggle="collapse" 
                     data-bs-target="#collapseOne" 
                     aria-expanded="false" 
                     aria-controls="collapseOne">
               <img src="assets/images/empIcon.svg" width="24" height="24" class="mx-2">
               Header
             </button>
        </h5>                                   

<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
  <div class="accordion-body">
      <div class="row">
          <div class="col-md-12 col-lg-12 col-12">
              <div class="empDetailsFields text-left">
             <div class="row">
                 <div class="form-group col-md-2 col-lg-2 col-12">
                     <label class="f-600">DLV type</label>
                  </div>  
                 <div class="col-md-2 col-12">
                  <label class="f-300">Income</label>                                                                                 
                </div>
                 <div class="col-md-2">
                     <label class="f-600">Service Provider</label>
                    </div>  
                 <div class="col-md-2">SAVWIPL</div> 
                 <div class="col-md-2 col-lg-2 col-12">
                  <label class="f-600">Contract No</label>                 
                 </div>    
                 <div class="col-md-2 col-lg-2 col-12">
                  <div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input " placeholder="IYYYY_DEPT_ID" hidden>
                    <label class="f-300">IYYYY_DEPT_ID </label>
                    </div>
                 </div>                                                                                                                                
             </div> 
             <!--End of row-->
             <!--begning of row2-->
             <div class="row mt-3">
               <div class="col-md-2">
                <label class="f-600"> Service Receiver 
                  <span class="astColor">*</span>
                 </label>
                </div>  
               <div class="col-md-4">
                <select 
                        class="form-select form-select-sm custom-select" 
                        aria-label=".form-select-sm example"
                        id="serviceReceiver"
                        formControlName="serviceReceiver"
                        
                        >
                  <option value="null">Select Services</option>
                  <option value="SAIPL">SAIPL</option>
                  <option value="SkodaMB">SkodaMB</option>
                  <option value="VWAG">VWAG</option>
                  <option value="Sample">Sample</option>
               </select> 

               <!-- <small class="text-danger" *ngIf="type_Receiver.touched && !default_Type" >*reuqried field</small> -->
                   <span class="text-danger"
                       *ngIf=" incomeFormSubMitted && myGenerateDLV.get('serviceReceiver').invalid">
                       *reuqried field
                   </span>
             </div> 
               <div class="col-md-2"> 
                <label class="f-600">Department<span class="astColor">*</span></label>             
                </div>
                
               <div class="col-md-4"> 
                  
                <div class="input-group">
                  <input 
                        type="text" class="form-control" 
                        placeholder="Deparment e.g. VG22"
                        id="department"
                        formControlName="department"
                        >
                  </div>

                  <span class="text-danger"
                        *ngIf=" incomeFormSubMitted && myGenerateDLV.get('department').invalid">
                        *reuqried field
                  </span>

             </div>                                                                 
             </div>
             <!--End of row2-->
             <!--begning of row 3-->
             <div class="row mt-2">
                 <div class="col-md-2 col-12">
                  <label class="f-600">
                      Validity From <span class="astColor">*</span>
                </label>
                    </div>                                   
                  <div class="col-md-4 col-12">                        
                    <div class="input-group date" id="datepicker">
                        <input 
                              type="date" 
                              class="form-control" 
                              placeholder="DD-MMM-YYYY"
                              id="validDate"
                              formControlName="validDate"
                              />
                        
                      </div>
                      <span class="text-danger"
                           *ngIf="incomeFormSubMitted && myGenerateDLV.get('validDate').invalid">
                           *reuqried field
                      </span> 

                      
                     </div>
                     <div class="col-md-2 col-12">
                      <label class="f-600"> Till</label>
                     </div>
                <div class="col-md-4 col-12">                        
                 <div class="input-group date" id="datepicker1">
                   <input 
                        type="date" 
                        class="form-control" 
                        placeholder="DD-MMM-YYYY" 
                        id="tillDate"
                        formControlName="tillDate"/>
                   
                 </div>
               </div>                                                                 
               </div>
             <!--End of row3-->
        <!--begning of row 4-->
        <div class="row mt-2">
            <div class="col-md-2">
                <label class="f-600">Cost center<span class="astColor">*</span></label></div>  
            <div class="col-md-4">
              <div class="input-group">
                <input
                       type="text"
                       class="form-control"
                       placeholder="Cost Center e.g. 12131"
                       id="costCenter"
                       formControlName="costCenter"
                       >
              </div>
                      <span class="text-danger"
                           *ngIf="incomeFormSubMitted && myGenerateDLV.get('costCenter').invalid">
                           *reuqried field
                      </span> 
            </div> 
                        
             <div class="col-md-2">                  
                   <label class="f-600">Prepared by
                       <span class="astColor">*</span>
                   </label>
                </div>
           <div class="col-md-4"> 
            <div class="input-group">
                <input 
                      type="text" 
                      class="form-control" 
                      placeholder="Name of DLV Creator"
                      aria-label="Text input with radio button"
                      id="preparedBy"
                      formControlName="preparedBy"
                      >
                </div>

                     <span class="text-danger"
                           *ngIf="incomeFormSubMitted && myGenerateDLV.get('preparedBy').invalid">
                           *reuqried field
                      </span>
          </div> 
        </div>                                                                 
          </div>
        <!--End of row4-->
  <!--begning of row 5-->
        <div class="row mt-2">
            <div class="col-md-2 col-12">
                <label class="f-600">Service Receiver Details<span class="astColor">*</span></label></div>  
            <div class="col-md-10 col-12">
              <label class="f-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                 veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore </label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Populated Based on Service Provider Selection" hidden>
                </div>
          </div>                                                                               
          </div>
        <!--End of row5-->                 
          </div>
       </div>
             </div>
         </div>
      </div>    
      <!--End of Header Details input field --> 



       <!-- Income Details input field -->
       
       <div class="accordion-item">
        <h5 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-money mx-2"></i>Income 
          </button>
        </h5>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <!--begning of row 6-->
              <div class="row mt-2">
               <div class="col-md-2 col-12">
                   <label class="f-600">Incorporated</label>
               </div>  
               <div class="col-md-4 col-12">
                   <div class="input-group">
                     <label class="f-300">India</label>
                       <input type="text" class="form-control"value="Based on Company" hidden>
                     </div>
                   </div>  
                     <div class="col-md-2 col-12">
                       <label class="f-600">Place of Business</label>
                   </div>  
                   <div class="col-md-4 col-12">
                       <div class="input-group">
                         <label class="f-300">A-1/1, MIDC, Shendra Kamangar, Maharashtra 431007, Aurangabad, Maharashtra</label>
                         <input type="text" class="form-control"placeholder="Based on Company" hidden>
                   </div>     
                    </div>                                                                               
             </div>
           <!--End of row6-->
             <!--begning of row7-->
             <div class="row mt-2">
               <div class="col-md-2 col-12">
                   <label class="f-600">Receiver Name<span class="astColor">*</span></label>
               </div>  
               <div class="col-md-4 col-12">
                   <div class="input-group">
                     <label class="f-300">Skoda Auto India Private Limited</label>
                       <input type="text" class="form-control"placeholder="Full name of the company based on company" hidden>
                     </div>
                   </div>  
                     <div class="col-md-6 col-12">
                       
                   </div>  
                   <div class="col-md-4 col-12">
                  
                    </div>
                                                                                              
             </div>
           <!--End of row7-->
           <div class="row mt-2">
             <div class="col-md-12 col-12">
           <label class="f-600">Description of Business</label>
           </div>
           <div class="col-md-12 col-12">       
               <div class="form-floating">
                 <textarea class="form-control" placeholder="Activities Based on Company" id="descriptionofbusiness">Manufacture, Sales and Aftersales business of Volkswagen Group Cars in India</textarea>
                 <label for="descriptionofbusiness">Activities Based on Company</label>
                 </div>
             </div>         
               </div><!--End of row-->
                 <div class="row mt-2">
                   <div class="col-md-12 col-12">
                     <label class="f-600">Description of Services</label>
                     </div>
                   <div class="col-md-12 col-12">
                 <div class="form-floating">
                   <textarea 
                          class="form-control" 
                          placeholder="Description of Services" 
                          id="descService"
                          formControlName="descService"
                          
                          ></textarea>
                   <label for="descriptionofservices">Description of Services</label>
                 </div>
                 </div>
                 </div>
              <!--begning of row8-->
              <div class="row mt-2">
               <div class="col-md-2 col-12">
                   <label class="f-600">Approached By</label>
               </div>  
               <div class="col-md-4 col-12">
                   <div class="input-group">
                     <label class="f-300">SAIPL</label>
                       <input type="text" class="form-control" placeholder="Populated based on Company" hidden>
                     </div>
                   </div>  
                     <div class="col-md-6 col-12">                          
                   </div>                                                                                             
             </div>
           <!--End of row8-->
               <!--begning of row9-->
               <div class="row mt-2">
                   <div class="col-md-12 col-12">
                       <label class="f-600">Scope of Services <span class="astColor">*</span></label>
                   </div>  
                   <div class="col-md-12 col-12">
                       <div class="form-floating">
                         <textarea 
                                  class="form-control" 
                                  placeholder="Scope of Services" 
                                  id="scopeService"
                                   formControlName="scopeService"
                                  > 
                                </textarea>
                         <label for="scopeofservices">Scope of Services</label>
                         </div>
                         <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('scopeService').invalid">
                                *reuqried field
                         </span>
                         
                   </div>
                   </div>
                   <div class="row mt-2">                      
                         <div class="col-md-12 col-12">
                           <label class="form-label f-600" for="customFile">Upload Scope <span class="astColor">*</span></label>                               
                         </div>   
                       <div class="col-md-3 col-12">
                           <input 
                                  type="file" 
                                  class="form-control" 
                                  id="uploadScope"
                                  formControlName="uploadScope"
                                  />
                        </div>    
                        <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('uploadScope').invalid">
                                *reuqried field
                         </span>
                                                                                                           
                 </div>
               <!--End of row9-->
               <!--begning of row10-->
               <div class="row mt-2">
                 <div class="col-md-2 col-12">
                     <label class="f-600">Consideration <span class="astColor">*</span></label>
                 </div>  
                 <div class="col-md-12 col-12">
                     <div class="form-floating">
                       <textarea 
                                class="form-control" 
                                placeholder="Consideration Text" 
                                id="consideration"
                                formControlName="consideration"
                                >
                              </textarea>
                       <label for="considerationtext">Scope of Services</label>
                     </div>
                         <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('consideration').invalid">
                                *reuqried field
                         </span>
                 </div>                      
               </div>
               <div class="row mt-2">
                 <div class="col-md-12 col-12">
                     <label class="form-label f-600" for="customFile">Upload Consideration <span class="astColor">*</span></label>                               
                   </div>  
                   <div class="col-md-3 col-12">
                     <input 
                            type="file" 
                            class="form-control" 
                            id="uploadCod"
                            formControlName="uploadCod"
                            />
                     </div>

                         <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('uploadCod').invalid">
                                *reuqried field
                           </span>
                     <div class="col-md-6 col-12">                        
                     </div>                
               </div>
               <!--End of row10-->
       
               <!--begning of row11-->
               <div class="row mt-2">
                   <div class="col-md-2 col-12">
                       <label class="f-600">GST% <span class="astColor">*</span></label>
                   </div>  
                   <div class="col-md-4 col-12">
                       <div class="input-group">
                           <input 
                                  type="number" 
                                  class="form-control"   
                                  placeholder="0.00%"
                                  id="gst"
                                  formControlName="gst"
                                  >
                         </div> 
                           <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('gst').invalid">
                                *reuqried field
                           </span>                           
                       </div>  
                       <div class="col-md-2 col-12">
                           <label class="f-600">GST Amount <span class="astColor">*</span></label>
                       </div>  
                       <div class="col-md-2 col-12">
                         <input 
                                type="number" 
                                class="form-control"  
                                placeholder="GST Amount e.g. 121.12"
                                id="gstAmount"
                                formControlName="gstAmount"
                                >       
                                <span class="text-danger"
                                    *ngIf="incomeFormSubMitted && myGenerateDLV.get('gstAmount').invalid">
                                      *reuqried field
                                </span>
                      </div>  
                    

                     <div class="col-md-2 col-12">
                       <select 
                              class="form-select form-select-sm custom-select" 
                              aria-label=".form-select-sm example"
                              id="INR"
                              formControlName="INR"
                              >
                         <option value="">Select Currency</option>
                         <option value="INR">INR</option>
                         <option value="Quaterly">EURO</option>
                         <option value="Semiannually">USD</option>                       
                       </select> 
                       
                     </div>    
                                  
                 </div>
               <!--End of row11-->
               
               
               <!--begning of row12-->
                 <div class="row mt-2">
                   <div class="col-md-2 col-12">
                       <label class="form-label f-600" for="SAVWIPL">SAVWIPL</label>   
                       <label class="form-label f-600" for="Name">Name <span class="astColor">*</span></label>                            
                     </div>  
                     <div class="col-md-4 col-12">                    
                       <div class="input-group">
                           <input 
                                  type="text" 
                                  class="form-control" 
                                  placeholder="Notice SAVWIPL Name" 
                                  id="SAVWIPLName"
                                  formControlName="SAVWIPLName"
                                  >
                         </div>
                                <span class="text-danger"
                                    *ngIf="incomeFormSubMitted && myGenerateDLV.get('SAVWIPLName').invalid">
                                      *reuqried field
                                </span> 

                       </div>
                       <div class="col-md-2 col-12">
                           <label class="form-label f-600" for="Email">Email <span class="astColor">*</span></label>
                        </div>
                        <div class="col-md-4 col-12">
                          <div class="input-group">
                              <input 
                                    type="email" 
                                    class="form-control" 
                                    placeholder="Notice SAVWIPL Email ID"
                                    id="email"
                                    formControlName="email"
                                    >
                            </div>
                            
                            <div *ngIf="(myGenerateDLV.get('email').invalid && myGenerateDLV.get('email').touched) || incomeFormSubMitted">
                              <small class="text-danger" *ngIf="myGenerateDLV.get('email').errors?.required">Email address is required</small>
                              <small class="text-danger" *ngIf="myGenerateDLV.get('email').errors?.pattern">Email address is invalid</small>
                            </div>


                            <!-- <span class="text-danger" *ngIf="incomeFormSubMitted && myGenerateDLV.get('email').invalid && myGenerateDLV.get('email').errors?.pattern">
                                Enter a valid email address
                            </span> -->

                          </div>    
                           
                 </div>
               <!--End of row12-->
       
               <!--begning of row13-->
               <div class="row mt-2">
                 <div class="col-md-2 col-12">
                     <label class="form-label f-600" for="REceiver">Receiver Name<span class="astColor">*</span></label>                               
                   </div>  
                   <div class="col-md-4 col-12">                 
                     <div class="input-group">
                         <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Notice Receiver Name" 
                                id="receiverName"
                                formControlName="receiverName"
                                >
                       </div>
                        <span class="text-danger"
                            *ngIf="incomeFormSubMitted && myGenerateDLV.get('receiverName').invalid">
                              *reuqried field
                        </span>  
                     </div>
                     <div class="col-md-2 col-12">
                       <label class="form-label f-600" for="Email">Receiver Email <span class="astColor">*</span></label>                               
                     </div>  
                     <div class="col-md-4 col-12">                     
                         <div class="input-group">
                             <input 
                                  type="email" 
                                  class="form-control" 
                                  placeholder="Notice SAVWIPL Email ID"
                                  id="receiverEmail"
                                  formControlName="receiverEmail"
                                    >
                           </div>
                           <div *ngIf="(myGenerateDLV.get('receiverEmail').invalid && myGenerateDLV.get('receiverEmail').touched) || incomeFormSubMitted ">
                            <small class="text-danger" *ngIf="myGenerateDLV.get('receiverEmail').errors?.required">Email address is required</small>
                            <small class="text-danger" *ngIf="myGenerateDLV.get('receiverEmail').errors?.pattern">Email address is invalid</small>
                          </div>
                         </div>                 
               </div>
               <!--End of row13-->
                      <!--begning of row14-->
                      <div class="row mt-2">
                       <div class="col-md-12 col-12">
                           <div class="form-floating">
                               <textarea 
                                      class="form-control" 
                                      placeholder="Leave a comment here" 
                                      id="additionalClu"
                                      formControlName="additionalClu"
                                      
                                      >
                                    </textarea>
                               <label for="floatingTextarea">Additional Miscelleneous Clauses</label>
                             </div>                     
                           </div>                
                     </div>
                   <!--End of row14-->
          </div>
        </div>
       </div>
       <!--End of Income Details input field -->     
 

       <!-- Checklist Details input field -->
        <div class="accordion-item">
  <h5 class="accordion-header" id="headingthree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
      <img src="assets/images/transactionIcon.svg" width="24" height="24" class="mx-2">
      Income Checklist
    </button>
  </h5>
  <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree" data-bs-parent="#accordionExample">
    <div class="accordion-body">        
        <div class="row mt-2">        
         <div class="col-md-5 col-12">
          <label class="f-600">1. Gist of the contract / Nature  of transaction
            <span class="astColor">*</span></label>
         </div>                 
          <div class="col-md-7 col-12">
            <div class="input-group">
              <input 
                    type="text" 
                    class="form-control"
                    id="natureTran"
                    formControlName="natureTran"
                    >
            </div>
            <span class="text-danger"
                *ngIf="incomeFormSubMitted && myGenerateDLV.get('natureTran').invalid">
                  *reuqried field
            </span> 
          </div>
        </div>
        <div class="row mt-2">        
          <div class="col-md-5 col-12">
           <label class="f-600">2. Please mention reasons for entering into a transaction with 
             related overseas party rather than with a third party 
              <span class="astColor">*</span></label>
          </div>                 
           <div class="col-md-7 col-12">
             <div class="input-group">
               <input 
                      type="text" 
                      class="form-control"
                      id="mentionRes"
                      formControlName="mentionRes"
                      >
             </div>
             <span class="text-danger"
                *ngIf="incomeFormSubMitted && myGenerateDLV.get('mentionRes').invalid">
                  *reuqried field
            </span> 
           </div>
         </div>
      
         <!--End of row-->
  
         <div class="row mt-2">        
         <div class="col-md-12 col-12">
          <label class="f-800"> Cost plus workings</label>
           </div>
           </div>
           <div class="row mt-2">        
            <div class="col-md-2 col-12">
             <label class="f-600">Basic cost </label>
              </div>
              <div class="col-md-2 col-12">
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="DLV Basic Cost">
                </div>
                 </div>
                 <div class="col-md-2 col-12">
                  <label class="f-600">Margin </label>
                   </div>
                   <div class="col-md-2 col-12">
                     <div class="input-group">
                       <input type="number" class="form-control"placeholder="DLV Margin e.g. 12000">
                     </div>
                      </div>
                      <div class="col-md-2 col-12">
                        <label class="f-600">Total price agreed </label>
                         </div>
                         <div class="col-md-2 col-12">
                           <div class="input-group">
                             <input type="number" class="form-control" placeholder="DLV Value 120000">
                           </div>
                            </div>
              </div><!--end of row-->
              <!--Begning of row-->
              <div class="row mt-2">        
                <div class="col-md-2 col-12">
                 <label class="f-600">Permanent Account Number[PAN]:<span class="astColor">*</span> </label>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="input-group">
                      <input 
                            type="text" 
                            class="form-control"
                            placeholder="ABCDE1234F"
                            id="panCard"
                            formControlName="panCard"
                             >
                    </div>
                   
                    <div *ngIf="(myGenerateDLV.get('panCard').invalid && myGenerateDLV.get('panCard').touched) || incomeFormSubMitted ">
                      <small class="text-danger" *ngIf="myGenerateDLV.get('panCard').errors?.required">Pancard number address is required</small>
                      <small class="text-danger" *ngIf="myGenerateDLV.get('panCard').errors?.pattern">Pancard number address is invalid</small>
                    </div>
                    </div>                  
                          <div class="col-md-2 col-12">
                            <label class="f-600">Currency </label>
                             </div>
                            <div class="col-md-4 col-12">
                              <select class="form-select form-select-sm custom-select" aria-label=".form-select-sm example">
                                <option value="">Select Currency</option>
                                <option value="Monthly">INR</option>
                                <option value="Quaterly">Foreign</option>                                                                     
                              </select>
                           </div>
                  </div><!--end of row-->
              
               <div class="row mt-2">        
                  <div class="col-md-12 col-12">
                     <label class="f-800"> Functions to be performed </label> </div>
               </div><!--end of row-->
              <!--Begning of row-->
              <div class="row mt-2">        
                <div class="col-md-2 col-12">
                 <label class="f-600">Service <span class="astColor">*</span> </label>
                  </div>
                  <div class="col-md-4 col-12">
                    <select 
                          class="form-select form-select-sm custom-select" 
                          aria-label=".form-select-sm example"
                          id="funService"
                          formControlName="funService"
                          >
                      <option value="null">Select Services</option>
                      <option value="Reimbursement">Reimbursement</option>
                      <option value="others">others</option>
                      <option value="Notapplicable">Not applicable</option>                                                                     
                    </select>
                    <span class="text-danger"
                        *ngIf="incomeFormSubMitted && myGenerateDLV.get('funService').invalid">
                          *reuqried field
                    </span> 

                     </div>                                
                  </div><!--end of row-->
                
                  <div class="row mt-2">        
                    <div class="col-md-12 col-12">
                       <label class="f-800">Whether goods involved </label> 
                       </div>
                 </div><!--end of row-->
                 <!--Begning of row-->
                <div class="row mt-2">        
                  <div class="col-md-2 col-12">
                   <label class="f-600">Location of goods <span class="astColor">*</span> </label>
                    </div>
                    <div class="col-md-4 col-12">
                      <select 
                              class="form-select form-select-sm custom-select" 
                              aria-label=".form-select-sm example"
                              id="locationGod"
                              formControlName="locationGod"
                              >
                        <option value="null">Select Country</option>
                        <option value="Reimbursement">India</option>
                        <option value="others">Outside India</option>                                                                                             
                      </select>
                      <span class="text-danger"
                        *ngIf="incomeFormSubMitted && myGenerateDLV.get('locationGod').invalid">
                          *reuqried field
                      </span>
                       </div> 
                       <div class="col-md-2 col-12">
                         <label class="f-600">Name of supplier of Goods:</label>
                         </div>   
                         <div class="col-md-4 col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="e.g.SkodaMB">
                          </div>
                           </div>                            
                    </div><!--end of row-->
                             <!--Begning of row-->
                  <div class="row mt-2">        
                    <div class="col-md-2 col-12">
                      <label class="f-600"> Ownership of Goods</label>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="input-group">
                            <input type="text" class="form-control"placeholder="e.g.SAVWIPL">
                          </div>
                    </div>
                </div><!--end of row-->
                
                    <div class="row mt-2">        
                      <div class="col-md-12 col-12">
                         <label class="f-800"> If the services relating to events such as conference, fair, exhibition or similar events</label> </div>
                   </div><!--end of row-->
                   <!--Begning of row-->
                  <div class="row mt-2">        
                    <div class="col-md-2 col-12">
                     <label class="f-600">Place of event <span class="astColor">*</span> </label>
                      </div>
                      <div class="col-md-4 col-12">
                        <select 
                              class="form-select form-select-sm custom-select" 
                              aria-label=".form-select-sm example"
                              id="placeEvent"
                              formControlName="placeEvent"
                              >
                          <option value="null">Select Country</option>
                          <option value="India">India</option>
                          <option value="Outside">Outside</option>                                                                                                 
                          <option value="NA">Not Applicable</option>
                        </select>
                        <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('placeEvent').invalid">
                                *reuqried field
                        </span>
                         </div>                                
                      </div><!--end of row-->
                      <div class="row mt-2">        
                    <div class="col-md-2 col-12">
                     <label class="f-600">Name of event organizer<span class="astColor">*</span> </label>
                      </div>
                      <div class="col-md-4 col-12">
                        <div class="input-group">
                          <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Event Organiser"
                                id="eventOrg"
                                formControlName="eventOrg"
                                >
                        </div>
                        <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('eventOrg').invalid">
                                *reuqried field
                        </span>

                         </div>                                
                      </div><!--end of row-->
                      <div class="row mt-2">        
                        <div class="col-md-12 col-12">
                           <label class="f-600">Details of Third party</label>
                        </div>
                     </div><!--end of row-->
                     <!--Begning of row-->
                    
                    <div class="row mt-2">        
                      <div class="col-md-2 col-12">
                       <label class="f-600">Third Party <span class="astColor">*</span> </label>
                        </div>
                        <div class="col-md-4 col-12">
                          <select 
                                class="form-select form-select-sm custom-select" 
                                aria-label=".form-select-sm example"
                                id="thirdParty"
                                formControlName="thirdParty"
                                >
                            <option value="null">Type of Company</option>
                            <option value="Group Company">Group Company</option>
                            <option value="Non Group Company">Non Group Company</option>                                                                                                 
                          </select>
                          <span class="text-danger"
                              *ngIf="incomeFormSubMitted && myGenerateDLV.get('thirdParty').invalid">
                                *reuqried field
                          </span>
                           </div>                                
                        </div><!--end of row-->
            </div>
    </div>   
        </div>   
       <!--End of Checklist Details input field -->
 <app-incomehistory></app-incomehistory>
 <!--footer begins-->
 <div class="card-footer align-content-center">
  <button type="submit" class="btn btn-primary btn-sm submit-btn me-2" id="btnSubmit">
    Generate DLV
</button>
<button type="submit" class="btn btn-danger btn-sm cancl-btn me-2" id="btnCancel">
    Save as Draft
</button>
    <button type="submit" class="btn btn-primary btn-sm submit-btn me-2" id="btnSubmit">
        Submit for Review
    </button>
    <button type="reset" class="btn btn-danger btn-sm cancl-btn me-2" id="btnCancel">
        Cancel
    </button>
</div>
<!--End of Buttons div-->
 
</form> 


 <div class="row mt-2">
 <div class="col-md-12">
 <label class="f-600">  (Prefilled 9% CGST & 9% SGST) in INR will be applicable on above amounts every year. Tax rates are subject to change and may vary at the time of actual provision of services. Applicable taxes and levies shall be charged as per prevailing rates
   </label>
 </div>
 </div>
 
   
    </div>               
     <!--End of Accordion-->
        </div><!--End of Accordion container-->
      </form>
    </div><!--End of form head container-->
 
  </div>   
  <!--End of form container-->        
</div><!--end if right-col container-->
</div>

 

 


