<div class="accordion-item">
  <h5 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <i class="fa fa-money mx-2"></i>Income 
    </button>
  </h5>
  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <!--begning of row 6-->
        <div class="row mt-2">
         <div class="col-md-2 col-12">
             <label class="f-600">Incorporated</label>
         </div>  
         <div class="col-md-4 col-12">
             <div class="input-group">
               <label class="f-300">India</label>
                 <input type="text" class="form-control"value="Based on Company" hidden>
               </div>
             </div>  
               <div class="col-md-2 col-12">
                 <label class="f-600">Place of Business</label>
             </div>  
             <div class="col-md-4 col-12">
                 <div class="input-group">
                   <label class="f-300">A-1/1, MIDC, Shendra Kamangar, Maharashtra 431007, Aurangabad, Maharashtra</label>
                   <input type="text" class="form-control"placeholder="Based on Company" hidden>
             </div>     
              </div>                                                                               
       </div>
     <!--End of row6-->
       <!--begning of row7-->
       <div class="row mt-2">
         <div class="col-md-2 col-12">
             <label class="f-600">Receiver Name<span class="astColor">*</span></label>
         </div>  
         <div class="col-md-4 col-12">
             <div class="input-group">
               <label class="f-300">Skoda Auto India Private Limited</label>
                 <input type="text" class="form-control"placeholder="Full name of the company based on company" hidden>
               </div>
             </div>  
               <div class="col-md-6 col-12">
                 
             </div>  
             <div class="col-md-4 col-12">
            
              </div>
                                                                                        
       </div>
     <!--End of row7-->
     <div class="row mt-2">
       <div class="col-md-12 col-12">
     <label class="f-600">Description of Business</label>
     </div>
     <div class="col-md-12 col-12">       
         <div class="form-floating">
           <textarea class="form-control" placeholder="Activities Based on Company" id="descriptionofbusiness">Manufacture, Sales and Aftersales business of Volkswagen Group Cars in India</textarea>
           <label for="descriptionofbusiness">Activities Based on Company</label>
           </div>
       </div>         
         </div><!--End of row-->
           <div class="row mt-2">
             <div class="col-md-12 col-12">
               <label class="f-600">Description of Services</label>
               </div>
             <div class="col-md-12 col-12">
           <div class="form-floating">
             <textarea class="form-control" placeholder="Description of Services" id="descriptionofservices"></textarea>
             <label for="descriptionofservices">Description of Services</label>
           </div>
           </div>
           </div>
        <!--begning of row8-->
        <div class="row mt-2">
         <div class="col-md-2 col-12">
             <label class="f-600">Approached By</label>
         </div>  
         <div class="col-md-4 col-12">
             <div class="input-group">
               <label class="f-300">SAIPL</label>
                 <input type="text" class="form-control" placeholder="Populated based on Company" hidden>
               </div>
             </div>  
               <div class="col-md-6 col-12">                          
             </div>                                                                                             
       </div>
     <!--End of row8-->
         <!--begning of row9-->
         <div class="row mt-2">
             <div class="col-md-12 col-12">
                 <label class="f-600">Scope of Services <span class="astColor">*</span></label>
             </div>  
             <div class="col-md-12 col-12">
                 <div class="form-floating">
                   <textarea class="form-control" placeholder="Scope of Services" id="scopeofservices"></textarea>
                   <label for="scopeofservices">Scope of Services</label>
                   </div>
             </div>
             </div>
             <div class="row mt-2">                      
                   <div class="col-md-12 col-12">
                     <label class="form-label f-600" for="customFile">Upload Scope <span class="astColor">*</span></label>                               
                   </div>   
                 <div class="col-md-3 col-12">
                     <input type="file" class="form-control" id="customFile" />
                  </div>                                                                                            
           </div>
         <!--End of row9-->
         <!--begning of row10-->
         <div class="row mt-2">
           <div class="col-md-2 col-12">
               <label class="f-600">Consideration <span class="astColor">*</span></label>
           </div>  
           <div class="col-md-12 col-12">
               <div class="form-floating">
                 <textarea class="form-control" placeholder="Consideration Text" id="considerationtext"></textarea>
                 <label for="considerationtext">Scope of Services</label>
               </div>
           </div>                      
         </div>
         <div class="row mt-2">
           <div class="col-md-12 col-12">
               <label class="form-label f-600" for="customFile">Upload Consideration <span class="astColor">*</span></label>                               
             </div>  
             <div class="col-md-3 col-12">
               <input type="file" class="form-control" id="customFile" />
               </div>
               <div class="col-md-6 col-12">                        
               </div>                
         </div>
         <!--End of row10-->
 
         <!--begning of row11-->
         <div class="row mt-2">
             <div class="col-md-2 col-12">
                 <label class="f-600">GST% <span class="astColor">*</span></label>
             </div>  
             <div class="col-md-4 col-12">
                 <div class="input-group">
                     <input type="number" class="form-control"  pattern="[0-9]+(\.[0-9]{1,2})?%?" placeholder="0.00%">
                   </div>                            
                 </div>  
                 <div class="col-md-2 col-12">
                     <label class="f-600">GST Amount <span class="astColor">*</span></label>
                 </div>  
                 <div class="col-md-2 col-12">
                   <input type="number" class="form-control"  pattern="[0-9]+(\.[0-9]{1,2})" placeholder="GST Amount e.g. 121.12">                     
               </div>  
               <div class="col-md-2 col-12">
                 <select class="form-select form-select-sm custom-select" aria-label=".form-select-sm example">
                   <option value="">Select Currency</option>
                   <option value="Monthly">INR</option>
                   <option value="Quaterly">EURO</option>
                   <option value="Semiannually">USD</option>                       
                 </select> 
               </div>                
           </div>
         <!--End of row11-->
         
         
         <!--begning of row12-->
           <div class="row mt-2">
             <div class="col-md-2 col-12">
                 <label class="form-label f-600" for="SAVWIPL">SAVWIPL</label>   
                 <label class="form-label f-600" for="Name">Name <span class="astColor">*</span></label>                            
               </div>  
               <div class="col-md-4 col-12">                    
                 <div class="input-group">
                     <input type="text" class="form-control" placeholder="Notice SAVWIPL Name" id="SAVWIPLName">
                   </div>
                 </div>
                 <div class="col-md-2 col-12">
                     <label class="form-label f-600" for="Email">Email <span class="astColor">*</span></label>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Notice SAVWIPL Email ID">
                      </div>
                    </div>    
                     
           </div>
         <!--End of row12-->
 
         <!--begning of row13-->
         <div class="row mt-2">
           <div class="col-md-2 col-12">
               <label class="form-label f-600" for="REceiver">Receiver Name<span class="astColor">*</span></label>                               
             </div>  
             <div class="col-md-4 col-12">                 
               <div class="input-group">
                   <input type="text" class="form-control" placeholder="Notice Receiver Name" id="NoticeReceiverName">
                 </div>
               </div>
               <div class="col-md-2 col-12">
                 <label class="form-label f-600" for="Email">Receiver Email <span class="astColor">*</span></label>                               
               </div>  
               <div class="col-md-4 col-12">                     
                   <div class="input-group">
                       <input type="email" class="form-control" placeholder="Notice Receiver Email ID">
                     </div>
                   </div>                 
         </div>
         <!--End of row13-->
                <!--begning of row14-->
                <div class="row mt-2">
                 <div class="col-md-12 col-12">
                     <div class="form-floating">
                         <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                         <label for="floatingTextarea">Additional Miscelleneous Clauses</label>
                       </div>                     
                     </div>                
               </div>
             <!--End of row14-->
    </div>
  </div>
 </div>
 <!--acordion 2 item end-->