

.blue-font {
    color: #043b64;
    padding-right: 0.3rem;
}
 .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2; 
    min-height: 340px;    
    padding: 10px 20px 0;
    width: 80%;
    margin: 80px auto 0;
   }
   div.input-block input {
    font-weight: 500;
    font-size: 1rem;
    color: #495055;
    width: 165px;
    padding: 15px 15px;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: 1px solid #D9D9D9;
    outline: none;
}
.inpSearch {
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 5px !important;
    height: 44px;
    padding-left: 38px;
    flex: auto;}
  