<!--acordion 3 begin-->
<div class="accordion-item">
    <h5 class="accordion-header" id="headingthree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
        <img src="assets/images/transactionIcon.svg" width="24" height="24" class="mx-2">
        Income Checklist
      </button>
    </h5>
    <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree" data-bs-parent="#accordionExample">
      <div class="accordion-body">        
          <div class="row mt-2">        
           <div class="col-md-5 col-12">
            <label class="f-600">1. Gist of the contract / Nature  of transaction
              <span class="astColor">*</span></label>
           </div>                 
            <div class="col-md-7 col-12">
              <div class="input-group">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mt-2">        
            <div class="col-md-5 col-12">
             <label class="f-600">2. Please mention reasons for entering into a transaction with 
               related overseas party rather than with a third party 
                <span class="astColor">*</span></label>
            </div>                 
             <div class="col-md-7 col-12">
               <div class="input-group">
                 <input type="text" class="form-control">
               </div>
             </div>
           </div>
        
           <!--End of row-->
    
           <div class="row mt-2">        
           <div class="col-md-12 col-12">
            <label class="f-800"> Cost plus workings</label>
             </div>
             </div>
             <div class="row mt-2">        
              <div class="col-md-2 col-12">
               <label class="f-600">Basic cost </label>
                </div>
                <div class="col-md-2 col-12">
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="DLV Basic Cost">
                  </div>
                   </div>
                   <div class="col-md-2 col-12">
                    <label class="f-600">Margin </label>
                     </div>
                     <div class="col-md-2 col-12">
                       <div class="input-group">
                         <input type="number" class="form-control"placeholder="DLV Margin e.g. 12000">
                       </div>
                        </div>
                        <div class="col-md-2 col-12">
                          <label class="f-600">Total price agreed </label>
                           </div>
                           <div class="col-md-2 col-12">
                             <div class="input-group">
                               <input type="number" class="form-control" placeholder="DLV Value 120000">
                             </div>
                              </div>
                </div><!--end of row-->
                <!--Begning of row-->
                <div class="row mt-2">        
                  <div class="col-md-2 col-12">
                   <label class="f-600">Permanent Account Number[PAN]:<span class="astColor">*</span> </label>
                    </div>
                    <div class="col-md-4 col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="ABCDE1234F">
                      </div>
                      </div>                  
                            <div class="col-md-2 col-12">
                              <label class="f-600">Currency </label>
                               </div>
                              <div class="col-md-4 col-12">
                                <select class="form-select form-select-sm custom-select" aria-label=".form-select-sm example">
                                  <option value="">Select Currency</option>
                                  <option value="Monthly">INR</option>
                                  <option value="Quaterly">Foreign</option>                                                                     
                                </select>
                             </div>
                    </div><!--end of row-->
                
                 <div class="row mt-2">        
                    <div class="col-md-12 col-12">
                       <label class="f-800"> Functions to be performed </label> </div>
                 </div><!--end of row-->
                <!--Begning of row-->
                <div class="row mt-2">        
                  <div class="col-md-2 col-12">
                   <label class="f-600">Service <span class="astColor">*</span> </label>
                    </div>
                    <div class="col-md-4 col-12">
                      <select class="form-select form-select-sm custom-select" aria-label=".form-select-sm example">
                        <option value="">Select Services</option>
                        <option value="Reimbursement">Reimbursement</option>
                        <option value="others">others</option>
                        <option value="Notapplicable">Not applicable</option>                                                                     
                      </select>
                       </div>                                
                    </div><!--end of row-->
                  
                    <div class="row mt-2">        
                      <div class="col-md-12 col-12">
                         <label class="f-800">Whether goods involved </label> 
                         </div>
                   </div><!--end of row-->
                   <!--Begning of row-->
                  <div class="row mt-2">        
                    <div class="col-md-2 col-12">
                     <label class="f-600">Location of goods <span class="astColor">*</span> </label>
                      </div>
                      <div class="col-md-4 col-12">
                        <select class="form-select form-select-sm custom-select" aria-label=".form-select-sm example">
                          <option value="">Select Country</option>
                          <option value="Reimbursement">India</option>
                          <option value="others">Outside India</option>                                                                                             
                        </select>
                         </div> 
                         <div class="col-md-2 col-12">
                           <label class="f-600">Name of supplier of Goods:</label>
                           </div>   
                           <div class="col-md-4 col-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="e.g.SkodaMB">
                            </div>
                             </div>                            
                      </div><!--end of row-->
                               <!--Begning of row-->
                    <div class="row mt-2">        
                      <div class="col-md-2 col-12">
                        <label class="f-600"> Ownership of Goods</label>
                    </div>
                    <div class="col-md-4 col-12">
                      <div class="input-group">
                              <input type="text" class="form-control"placeholder="e.g.SAVWIPL">
                            </div>
                      </div>
                  </div><!--end of row-->
                  
                      <div class="row mt-2">        
                        <div class="col-md-12 col-12">
                           <label class="f-800"> If the services relating to events such as conference, fair, exhibition or similar events</label> </div>
                     </div><!--end of row-->
                     <!--Begning of row-->
                    <div class="row mt-2">        
                      <div class="col-md-2 col-12">
                       <label class="f-600">Place of event <span class="astColor">*</span> </label>
                        </div>
                        <div class="col-md-4 col-12">
                          <select class="form-select form-select-sm custom-select" aria-label=".form-select-sm example">
                            <option value="">Select Country</option>
                            
                            <option value="India">India</option>
                            <option value="Outside">Outside</option>                                                                                                 
                            <option value="NA">Not Applicable</option>
                          </select>
                           </div>                                
                        </div><!--end of row-->
                        <div class="row mt-2">        
                      <div class="col-md-2 col-12">
                       <label class="f-600">Name of event organizer<span class="astColor">*</span> </label>
                        </div>
                        <div class="col-md-4 col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Event Organiser">
                          </div>
                           </div>                                
                        </div><!--end of row-->
                        <div class="row mt-2">        
                          <div class="col-md-12 col-12">
                             <label class="f-600">Details of Third party</label>
                          </div>
                       </div><!--end of row-->
                       <!--Begning of row-->
                      
                      <div class="row mt-2">        
                        <div class="col-md-2 col-12">
                         <label class="f-600">Third Party <span class="astColor">*</span> </label>
                          </div>
                          <div class="col-md-4 col-12">
                            <select class="form-select form-select-sm custom-select" aria-label=".form-select-sm example">
                              <option value="">Type of Company</option>
                              <option value="Group Company">Group Company</option>
                              <option value="Non Group Company">Non Group Company</option>                                                                                                 
                            </select>
                             </div>                                
                          </div><!--end of row-->
              </div>
      </div>   
    </div>   
    <!--acordion 3 end-->